.pagination_container {
    display: flex;
    list-style-type: none;

    &__item {
        min-width: 32px;
        height: 32px;

        text-align: center;
        line-height: 1.43;
        font-size: 1rem;
        letter-spacing: 0.01071em;

        margin: auto 4px;
        padding: 0 12px;
        border-radius: 16px;

        display: flex;
        box-sizing: border-box;
        align-items: center;

        &.dots:hover {
            background-color: transparent;
            cursor: default;
        }

        &:hover {
            background-color: #f0f0f0;
            cursor: pointer;
        }

        &.selected {
            background-color: #5668ca;
            color: white;
        }

        .arrow {

            &::before {
                content: '';

                position: relative;

                display: inline-block;

                width: 0.4em;
                height: 0.4em;

                border-right: 0.12em solid rgba(0, 0, 0, 0.87);
                border-top: 0.12em solid rgba(0, 0, 0, 0.87);
            }

            &.left {
                transform: rotate(-135deg) translate(-50%);
            }

            &.right {
                transform: rotate(45deg);
            }
        }

        &.disabled {
            pointer-events: none;

            .arrow::before {
                border-right: 0.12em solid rgba(0, 0, 0, 0.43);
                border-top: 0.12em solid rgba(0, 0, 0, 0.43);
            }

            &:hover {
                background-color: transparent;
                cursor: default;
            }
        }
    }
}